# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Versioning and metadata
.git
.gitignore
.dockerignore

# Files not required for production
Dockerfile
README.md
.eslintrc.js
nodemon.json